.Char span{
    display : flex;
    padding: 16px;
    margin: 16px;
    border: solid 1px #ffc438;
    color: red;
    background-color: #09d3ac;
}

@media (min-width: 500px) {
    .Char span{
       background-color: #ff2a25;
        color: #09d3ac;
    }
}